.footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

.footer a {
    color: #ffffff;
}

.footer a:hover {
    color: #ffffff;
    text-decoration: none;
}

.footer .container {
    padding: 10px;
}

.footer .container .row {
    margin: 0;
}

.footer .container .row .col-md-4 {
    padding: 0;
    margin: 0;
}